.cardsDisplay{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.card-container {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: bold;
    width: 500px;
    height: 310px;
    margin: 80px;
    border-radius: 10px;
    perspective: 1400px;
    flex-direction: row;
    font-family: 'Chivo_Mono';
  }
  .card {
    width: 400px;
    position: relative;
    height: 250px;
    border-radius: 10px;
    transform-style: preserve-3d;
    box-shadow: -0px 0px 5px rgb(103, 103, 103);
    transition: transform 0.4s;
    margin: 30px;
  }

  .card-front,
  .card-back {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}


.card-front
{
    width: 100%;
    color: #fff;
    background: #0a5a83;
}

.card-back
{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    color: #0a5a83;
    background: #ffcd55;
}
.answerTxt{
    margin-left: 4%;
}
.answerImg{
    width: 140px;
    margin-right: 4%;
}
.card.flipped {
    transform: rotateY(180deg);
  }
.trashCan{
    width: 20px;
    cursor: pointer;

}
.trashIcon{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.answers{
    position: absolute;
    left: 10px;
    top: -25px;
}