ul.cards-split{
    width: 660px; 
    height: 280px;
    list-style-type: none;
    position: relative;
    margin: 0 auto 20px;
    padding: 20px;
    cursor: pointer;
}
li.title {
    margin: 0 0 20px;
}
h2{ 
    font-weight: 700; 
}
li.card{
    background: #FFF; overflow: hidden;
    height: 200px; width: 200px;
    border-radius: 10px;
    position: absolute; left: 220px;
    box-shadow: 1px 2px 2px 0 #aaa;
    transition: all 0.4s cubic-bezier(.63,.15,.03,1.12);
}
img{
    max-width: 100%; height: auto; 
}
div.content{
    padding: 5px 10px;
}

.card-1{ 
    z-index: 10; 
    transform: rotateZ(-2deg);
}
.card-2{ 
    z-index: 9; 
    transform: rotateZ(-7deg);
    transition-delay: 0.05s;
}
.card-3{ 
    z-index: 8;     
    transform: rotateZ(5deg);
    transition-delay: 0.1s;
}
li.card{
    transform: rotateZ(0deg);
}
.card-1{
    left: 0px;
}

.card-2{
    left: 440px;
}

.card-3{
    left: 220px;
}
