body{
    background-image: radial-gradient(#f4f4f4 20%, #ffffff 20%);
    background-position: 0 0;
    background-size: 10px 10px;
    min-height: 90vh;
    width: 100%;
}
.card-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
}