.fullbody{
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Chivo_Mono';
    color: rgb(70, 70, 70);
    width: 100%;
}
.sidebar{
    width: 15%;
    min-width: 180px;
    background-color: rgb(218, 218, 218);
    min-height: 90vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
hr{
    width: 100%;
}
.workSpace{
    background-image: radial-gradient(#f4f4f4 20%, #ffffff 20%);
    background-position: 0 0;
    background-size: 10px 10px;
    min-height: 90vh;
    width: 85%;
}
.subjectLogo{
    width: 40px;
    margin: 5px;
}
.deckSidebar{
    display: flex;

}
.deckAdd{
    width: 25%;
    padding: 1% 10%;
    background-color: #f3eeda;
    text-align: center;
    border-radius: 20px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    box-shadow: 2px 2px 7px grey;
}
.deckEdit{
    display: flex;
    flex-direction: column;
}
.deck{
    min-width: 240px;
    padding: 3% 2%;
    margin: 2%;
    background-color: #f3eeda;
    text-align: center;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 2px 2px 7px grey;
}
.decks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
