.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  background-color: #b6b6b6;
  padding: 2%;
  text-align: center;
  color: #fff;
}
.deckAdd {
  background-color: rgba(97, 108, 134, 0.2);
  width: 29%;
  min-width: 200px;
  padding: 2%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgb(103, 103, 103);
  border: 1px solid white;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formInput{
  margin: 5%;
}
.submitBtn{
  width: 100px;
  height: 30px;
  border-radius: 15px;
}
.sidebar{
  width: 10%;
  min-width: 150px;
  min-height: 90vh;
  background-color: rgba(97, 108, 134, 0.2);
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workSpace{
  width: 90%;
  background-image: radial-gradient(#c8c8c8 4%, transparent 4%);
  background-color: #ffffff;
  background-position: 0 0, 50px 50px;
  background-size: 25px 25px;
}
.fullbody {
  display: flex;
}


/* CARD SECTION  */

.card-container {
  font-size: 25px;
  font-weight: bold;
  width: 400px;
  height: 250px;
  margin: 80px auto;
  border-radius: 10px;
  perspective: 1400px;
}

#card {
  position: relative;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  box-shadow: -0px 0px 5px rgb(103, 103, 103);
}

.card-front,
.card-back {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.card-front {
  color: #fff;
  background: #61a3d9;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  color: #61a3d9;
  background: #e0e2e7;
}
.googleSignInPage {
  display: flex;
  justify-content: center;
}
#selectsub {
  color: lightslategray;
}
.deck {
  padding-left: 20px;
}

